.abrigos {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
}

.abrigos li {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 1.5% 1.5%;
    box-sizing:border-box ;
    /* border: 1.5px solid #000000; */
    box-shadow: 0px 2px 23px #26395338;
    border-radius: 5px;
}

.titulo-li {
    vertical-align: middle;
    padding: 10px;
    font-weight: lighter;
    
}

.media {
    background: url("https://www.educolorir.com/foto-campo-de-refugiados-paquist-o-dl28908.jpg")center/cover;
    height: 120px;
    width: auto;
}

.texto-descricao {
    padding: 10px;
}

/* .abrigos li:hover{
    border-color: #c78c19;
}

.abrigos li:active {
    border-color:#088c19 ;
} */

/* .abrigos li:hover h2 {
    font-size: 34px;
} */


/* .abrigos h2 {
    font-size: var(--cabecalho);
    color: var(--primary);
    font-weight: bold;
} */

.descricao_abrigo {
    font-size: var(--descricao);
    color: var(--primary);
    margin-bottom: 10px;
}

.doar-link {
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0 0px 0;
    color: red;
    text-decoration:  red;
    text-decoration: underline red;
}

/* p {
    color: red;
} */