body {
    margin: 0px;
    display: flex;
}

header {
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    text-align: center;
    margin-top: 0px;
}

a{
    color: White;
    font-size: var(--cabecalho);
    font-weight: bold;
    text-decoration: none;
}

main {
    background-color: #fcfcfc;
    padding: var(--padding);
}
