.formulario {
    background-color: white;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.formulario-titulo {
    text-transform: capitalize;
    color: black;
    font-size: 20px;
}

.form-field {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    color: black;
}

.form-field__label, legend {
    color: inherit;
    margin-bottom: 4px;
    font-size: 16px;
}

.form-field__input, select{
    padding: 8px;
    border-radius: 4px;
    color: inherit;
    border: 2px solid;
    outline: none;
}


.input-option {
    background-color: rgb(245, 241, 241);
    font-size: 16px;
}

p {
    padding-top: 8px;
    padding-bottom: 16px;
    font-size: 20px;
    color: rgb(236, 13, 13);
}

.botao-wrapper {
    display: flex;
}

.botao {
    background-color: black;
    color: white;
    display: block;
    flex: 1;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 0.5em;
    cursor: pointer;
    transition: opacity 0.2s;

}

.botao:hover {
    opacity: 0.8;
}