body {
    margin: 0px;
}

header {
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    text-align: center;
    margin-top: 0px;
}

a{
    color: White;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 10px;
    transition: 0.5s;
}
a:hover {
    background-color: rgba(187, 240, 147, 0.504);
    border-radius: var(--border);
}

