
.titulo {
    text-align: center;
    font-size: var(--subtitulo);
    font-weight: bolder;
    margin-bottom: 16px;
}

.tabela {
    text-align: center;
    margin: 0 auto;
    background-color: white;
    box-shadow: var(--box-shadow) rgba(0, 0, 0, 0.5);
}

.tabela__cabecalho {
    color: var(--primary);
}

.tabela__cabecalho__conteudo {
    font-size: var(--texto);
    text-decoration: underline;
    
}


.tabela__linha {
    margin-bottom: 10px;
    border-radius: var(--border);
}

.tabela__conteudo {
    padding: 10px;
}