<section class="container">
    <h2 class="titulo">Doações</h2>
    <table class="tabela">
      <thead class="tabela__cabecalho">
        <th class="tabela__cabecalho__conteudo">Data</th>
        <th class="tabela__cabecalho__conteudo">Valor</th>
      </thead>
      <tbody *ngIf="!!doacoes; else listaVazia">
        <tr class="tabela__linha" *ngFor="let doacao of doacoes">
          <td class="tabela__conteudo">
            {{ doacao.data | date: "short" }}
          </td>
          <td class="tabela__conteudo">{{ doacao.valor | currency }}</td>
        </tr>
      </tbody>
    </table>
    <ng-template #listaVazia>
      <p>Nenhuma doação realizada</p>
    </ng-template>
  </section>
